<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finalizar Compra</title>
</head>
<body>
    <h1>Gracias por tu compra</h1>
    <p>Total a pagar: ${{ total }}</p>
    <p>Código de pedido: {{ codigo_pedido }}</p>
    <p>Para confirmar tu compra, realiza la transferencia a la siguiente cuenta:</p>
    <ul>
        <li><strong>RUT:</strong> 21302986-K</li>
        <li><strong>Tipo de Cuenta:</strong> Cuenta RUT</li>
        <li><strong>Correo:</strong> sebastianaaguirremundaca@gmail.com</li>
    </ul>
    <p>Por favor, guarda el código de pedido y envíalo al correo proporcionado junto con la confirmación de la transferencia.</p>
</body>
</html>
