<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Usuario</title>
    <!-- Agrega tus enlaces a Bootstrap u otros estilos si es necesario -->
</head>
<body>
    <header>
        <div class="col alert alert-danger text-center">
            <h2>Modificar Usuario</h2>
        </div>
    </header>
    <main>
        <div class="mx-5">
            <div class="col alert alert-success mx-5">
                <form method="POST" action="{% url 'modificar_cliente' cliente.id %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                </form>
            </div>
        </div>
    </main>
</body>
</html>
