<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos - Cafetería</title>
    <link href="{% static 'css/productos.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar">
            <a class="navbar-brand" href="#">
                <img src="/media/logopaginaswetjorney.png" alt="Logo Cafetería JJS" class="logo">
            </a>
            <button class="nav-toggle" onclick="toggleMenu()"><i class="fas fa-bars"></i></button>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="#inicio">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="#quienes-somos">Quiénes somos</a></li>
                <li class="nav-item"><a class="nav-link" href="#productos">Productos</a></li>
                <li class="nav-item"><a class="nav-link" href="#login">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- Categorías -->
        <aside id="categorias">
            <h2>Categorías</h2>
            <div class="categorias-lista">
                {% for categoria in categorias %}
                <div class="categoria-item">
                    <button class="categoria-boton" data-categoria-id="{{ categoria.id }}">
                        <img src="{{ categoria.imagen.url }}" alt="{{ categoria.nombre }}">
                        <h3>{{ categoria.nombre }}</h3>
                    </button>
                </div>
                {% endfor %}
            </div>
        </aside>

        <!-- Contenedor para mostrar productos -->
        <section id="productos-contenedor">
            <div id="productos">
                <p>Seleccione una categoría para ver los productos.</p>
                {% for producto in productos %}
                <div class="producto">
                    <img src="{{ producto.imagen.url }}" alt="{{ producto.titulo }}">
                    <h3>{{ producto.titulo }}</h3>
                    <p>{{ producto.descripcion }}</p>
                    <p>Precio: ${{ producto.precio }}</p>
                    <div class="cantidad">
                        <button class="cantidad-btn" onclick="modificarCantidad(-1, {{ producto.id }})">-</button>
                        <input type="number" id="cantidad_{{ producto.id }}" value="1" min="1">
                        <button class="cantidad-btn" onclick="modificarCantidad(1, {{ producto.id }})">+</button>
                    </div>
                    <button class="add-to-cart">Añadir al carro</button>
                </div>
                {% endfor %}
            </div>
        </section>
    </main>

    <!-- Referencia al JavaScript -->
    <script src="{% static 'js/productos.js' %}"></script>
</body>
</html>