/* Contenedor principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Títulos */
h1.text-center {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5em;
    color: #3b2e2e;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

/* Tarjetas de productos */
.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: auto;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* Imagen del producto */
.product-image {
    max-height: 200px;
    width: 100%;
    object-fit: fill;
}


/* Contenido del producto */
.product-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Permite que las descripciones crezcan para alinear los botones */
    justify-content: space-between; /* Distribuye los elementos equitativamente */
    padding: 10px;
}

.product-title {
    font-size: 1.5em;
    margin: 10px 0;
    color: #3b2e2e;
}

.product-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Número de líneas visibles */
    -webkit-box-orient: vertical;
}


.product-price {
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

/* Botón */
.btn {
    background-color: #a67c52;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: auto; /* Empuja el botón al final del contenedor */
}

.btn:hover {
    background-color: #8d6343;
}

.quantity-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.btn-quantity {
    background-color: #a67c52;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 3px;
}

.btn-quantity:hover {
    background-color: #8d6343;
}

.quantity-input {
    width: 50px;
    text-align: center;
    font-size: 1em;
    margin: 0 5px;
}
